<ion-list>

  <ion-list-header>Olá, Lucas</ion-list-header>

  <ion-item [lines]="lines" button="true" [detail]="detail" (click)="navigate('/orders')">

    <ion-icon slot="start" src="../../../assets/icon/order.svg"></ion-icon>

    <ion-label>Pedidos</ion-label>

  </ion-item>

  <ion-item [lines]="lines" button="true" [detail]="detail">

    <ion-icon slot="start" name="card-outline"></ion-icon>

    <ion-label>Pagamento</ion-label>

  </ion-item>

  <ion-item [lines]="lines" button="true" [detail]="detail">

    <ion-icon slot="start" name="settings-outline"></ion-icon>

    <ion-label>Editar dados</ion-label>

  </ion-item>

  <ion-item [lines]="lines" button="true" [detail]="detail">

    <ion-icon slot="start" name="log-out-outline"></ion-icon>

    <ion-label>Sair</ion-label>

  </ion-item>

</ion-list>