<ion-card>

  <ion-card-header *ngIf="order?.products.length > 0">

    <ion-label class="ion-no-margin">

      <h6>Seu pedido em</h6>

      <p>{{ company?.name }}</p>

    </ion-label>

  </ion-card-header>

  <ion-card-content>

    <div class="empty-bag" *ngIf="order?.products.length == 0">

      <ion-thumbnail>

        <img src="../../../assets/image/empty-bag.png">

      </ion-thumbnail>

      <h6>Sua sacola está vazia</h6>

      <p>Adicione itens</p>

    </div>

    <ion-list *ngIf="order?.products.length > 0">

      <ion-item lines="full" *ngFor="let product of order.products; let i=index">

        <ion-grid class="ion-no-padding">

          <ion-row>

            <ion-col class="ion-no-padding" size="8">

              <ion-label class="ion-text-wrap">

                <h6>{{ product.qty }}x {{ product.name }}</h6>

              </ion-label>

            </ion-col>

            <ion-col class="ion-no-padding" size="4">

              <ion-label class="ion-text-wrap ion-text-end">

                <h6>{{ (product.price - product.rebate) * product.qty | money }}</h6>

              </ion-label>

            </ion-col>

          </ion-row>

          <ion-row class="complements" *ngIf="product.complements.length > 0">

            <ion-col class="ion-no-padding" size="8">

              <ion-label class="ion-text-wrap">

                <ng-container *ngFor="let complement of product.complements; let i=index">

                  <ng-container *ngFor="let subcomplement of complement.subcomplements; let j=index">

                    <p>{{ subcomplement.qty }}x {{ subcomplement.description }}</p>

                  </ng-container>

                </ng-container>

              </ion-label>

            </ion-col>

            <ion-col class="ion-no-padding" size="4">

              <ion-label class="ion-text-wrap ion-text-end">

                <ng-container *ngFor="let complement of product.complements; let i=index">

                  <ng-container *ngFor="let subcomplement of complement.subcomplements; let j=index">

                    <p>{{ subcomplement.price * subcomplement.qty | money }}</p>

                  </ng-container>

                </ng-container>

              </ion-label>

            </ion-col>

          </ion-row>

          <ion-row class="note" *ngIf="product.note">

            <ion-col class="ion-no-padding" size="12">

              <ion-label class="ion-text-wrap">

                <p>Obs.: {{ product.note }}</p>

              </ion-label>

            </ion-col>

          </ion-row>

          <ion-row>

            <ion-col class="ion-no-padding" size="12">

              <ion-button class="edit" color="primary" fill="clear" (click)="edit(i)">Editar</ion-button>

              <ion-button class="remove" color="primary" fill="clear" (click)="remove(i)">Remover</ion-button>

            </ion-col>

          </ion-row>

        </ion-grid>

      </ion-item>

    </ion-list>

  </ion-card-content>

  <ion-footer *ngIf="order?.products.length > 0">

    <ion-grid>

      <ion-row>

        <ion-col size="6">

          <ion-label class="ion-text-wrap">

            <p>Subtotal</p>

            <p>Taxa de entrega</p>

            <h6>Total</h6>

          </ion-label>

        </ion-col>

        <ion-col size="6">

          <ion-label class="ion-text-wrap ion-text-end">

            <p>{{ subtotal | money }}</p>

            <p>{{ company?.delivery_price | money }}</p>

            <h6>{{ subtotal + company?.delivery_price | money }}</h6>

          </ion-label>

        </ion-col>

        <ion-col size="12" *ngIf="order.products.length > 0">

          <ion-button class="btn-bottom" expand="block" (click)="chooseAddress()" *ngIf="!order.location">Escolher
            endereço</ion-button>

          <ion-button class="btn-bottom" expand="block" (click)="choosePaymentMethod()" *ngIf="order.location">Escolher
            forma de pagamento</ion-button>

        </ion-col>

      </ion-row>

    </ion-grid>

  </ion-footer>

</ion-card>