ion-card {
    margin: 0;
    border-radius: 0;
    height: 100%;

    ion-card-content {
        height: calc(100% - 84.8px);
        overflow-y: auto;
    }

    ion-list {
        ion-list-header {
            border-bottom: 0.55px solid #c8c7cc;
            padding-bottom: 10px;

            h6 {
                font-size: 0.875rem;
                font-weight: 500;
            }

            p {
                font-size: 1.375rem;
                font-weight: 600;
            }
        }

        ion-item {
            --padding-start: 0;
            --inner-padding-end: 0;
            --padding-top: 8px;
            --padding-bottom: 8px;

            ion-button {
                font-size: 1rem;
                line-height: 1em;
                font-weight: 600;
                height: 19px;

                &.edit {
                    width: 46px;
                }

                &.remove {
                    margin-left: 32px;
                    width: 74px;
                }
            }

            ion-label {
                h6 {
                    font-size: 1rem;
                    font-weight: 600;
                }

                p {
                    font-size: .9rem;
                    font-weight: 500;
                    color: var(--ion-color-dark-tint);
                }
            }

            ion-row.complements,
            ion-row.note {
                margin-top: 8px;
            }
        }
    }

    div.empty-bag {
        text-align: center;
        margin: calc(((100vh - 148px) / 2) - 91.5px) auto;

        ion-thumbnail {
            --size: 128px;
            margin: 0 auto 10px;
        }

        h6 {
            font-size: 1.125rem;
            font-weight: 600;
        }

        p {
            font-size: 1rem;
        }
    }

    ion-footer {
        position: absolute;
        bottom: 0;

        ion-button {
            margin: 4px;
        }
    }
}

@media (pointer: fine) {
    ion-card {
        ion-card-content {
            &::-webkit-scrollbar {
                width: 4px;
            }
            &::-webkit-scrollbar-track {
                background: transparent;
            }
            &::-webkit-scrollbar-thumb {
                background: var(--ion-color-light-shade);
            }
        }
    }
}
