ion-card {
    margin: 0;
    border-radius: 0;
    height: 100%;

    div.empty-bag {
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        ion-thumbnail {
            --size: 128px;
            margin: 0 auto 10px;
        }

        h6 {
            font-size: 1.125rem;
            font-weight: 600;
        }

        p {
            font-size: 1rem;
        }
    }

    ion-list {
        ion-item {
            --padding-start: 16px;
            --inner-padding-end: 16px;
            --padding-top: 8px;
            --padding-bottom: 8px;
            --border-color: #ebecef;
            --background-hover: #fff;

            ion-label {
                margin: 0;
            }
        }

        &.header {
            ion-item {
                ion-label {
                    h6 {
                        font-size: 0.875rem;
                        font-weight: 500;
                        color: var(--ion-color-dark-tint);
                    }

                    p {
                        font-size: 1.125rem;
                        font-weight: 600;
                        color: var(--ion-color-dark);
                    }
                }
            }
        }

        &.content {
            padding: 0 16px;
            max-height: calc(100% - 61px - 303.8px);
            overflow-y: auto;

            ion-item {
                --padding-start: 0;
                --inner-padding-end: 0;

                &:last-child {
                    --border-width: 0;
                }

                ion-label {
                    h6 {
                        font-size: 1rem;
                        font-weight: 600;
                    }

                    p {
                        font-size: 0.9rem;
                        font-weight: 500;
                        color: var(--ion-color-dark-tint);
                    }
                }

                ion-button {
                    font-size: 1rem;
                    line-height: 1em;
                    height: 1rem;
                    font-weight: 500;

                    &.edit {
                        width: 46.08px;
                    }

                    &.remove {
                        margin-left: 32px;
                        width: 70.84px;
                    }
                }

                ion-row.complements,
                ion-row.note {
                    margin-top: 8px;
                }
            }
        }

        &.footer {
            ion-item {
                --min-height: 0;

                &:first-child {
                    --border-width: 0.55px 0 0;
                }

                &.type {
                    --padding-bottom: 0;

                    ion-button {
                        --color: var(--ion-color-medium);
                        --padding-start: 0;
                        --padding-end: 0;
                        font-size: 0.9rem;
                        line-height: 0.9rem;
                        border-bottom: 2px solid #fff;

                        ion-label {
                            margin-bottom: 8px;
                        }

                        &.active {
                            --color: var(--ion-color-primary);
                            font-weight: 600;
                            border-bottom: 2px solid var(--ion-color-primary);
                        }

                        &:hover {
                            opacity: 1;

                            &:not(.active) {
                                border-bottom: 2px solid var(--ion-color-medium);
                            }
                        }
                    }
                }

                img {
                    width: 30px;
                }

                ion-label {
                    margin: 0;

                    h6 {
                        font-size: 0.9rem;
                        font-weight: 600;
                    }

                    p {
                        font-size: 0.85rem;
                        font-weight: 500;
                        color: var(--ion-color-dark-tint);
                    }
                }

                ion-button {
                    font-weight: 500;
                }
            }

            ion-grid {
                padding: 8px 16px;

                ion-col {
                    padding: 0;

                    h6 {
                        font-size: 1rem;
                        line-height: 1.375rem;
                        font-weight: 600;
                        color: var(--ion-color-dark);
                    }

                    p {
                        font-size: 0.9rem;
                        line-height: 1.375rem;
                        font-weight: 500;
                        color: var(--ion-color-dark-tint);
                    }

                    ion-button {
                        margin: 8px 0;
                    }
                }
            }
        }
    }
}

@media (pointer: fine) {
    ion-card {
        ion-list.content {
            &::-webkit-scrollbar {
                width: 4px;
            }
            &::-webkit-scrollbar-track {
                background: transparent;
            }
            &::-webkit-scrollbar-thumb {
                background: var(--ion-color-medium-tint);
            }
        }
    }
}
