<ion-card>

  <ion-card-content>

    <div class="empty-bag" *ngIf="order?.products.length == 0">

      <ion-thumbnail>

        <img src="../../../assets/image/empty-bag.png">

      </ion-thumbnail>

      <h6>Sua sacola está vazia</h6>

      <p>Adicione itens</p>

    </div>

    <ion-list *ngIf="order?.products.length > 0">

      <ion-list-header class="ion-no-padding">

        <ion-label class="ion-no-margin">

          <h6>Seu pedido em</h6>

          <p>{{ company?.name }}</p>

        </ion-label>
        
      </ion-list-header>

      <ion-item lines="full" *ngFor="let product of order.products; let i=index">

        <ion-grid class="ion-no-padding">

          <ion-row>

            <ion-col size="8">

              <ion-label class="ion-text-wrap">{{ product.qty }}x {{ product.name }}</ion-label>

            </ion-col>

            <ion-col size="4">

              <ion-label class="price">{{ (product.price - product.rebate) * product.qty | money }}</ion-label>

            </ion-col>

            <ion-col size="12">

              <ion-button class="edit" color="primary" fill="clear" (click)="edit(i)">Editar</ion-button>

              <ion-button class="remove" color="medium" fill="clear" (click)="remove(i)">Remover</ion-button>

            </ion-col>

          </ion-row>

        </ion-grid>
        
      </ion-item>

      <ion-item class="prices" lines="none">

        <ion-grid class="ion-no-padding">

          <ion-row>

            <ion-col size="8">

              <ion-label class="ion-text-wrap">Subtotal</ion-label>

            </ion-col>

            <ion-col size="4">

              <ion-label class="ion-text-end">{{ subtotal | money }}</ion-label>

            </ion-col>

            <ion-col size="8">

              <ion-label class="ion-text-wrap">Taxa de entrega</ion-label>

            </ion-col>

            <ion-col size="4">

              <ion-label class="ion-text-end">{{ company?.delivery_price | money }}</ion-label>

            </ion-col>

            <ion-col size="8">

              <ion-label class="total">Total</ion-label>

            </ion-col>

            <ion-col size="4">

              <ion-label class="price">{{ subtotal + company?.delivery_price | money }}</ion-label>

            </ion-col>

          </ion-row>

        </ion-grid>

      </ion-item>

    </ion-list>

  </ion-card-content>

  <ion-footer>

    <ion-grid class="ion-padding">

      <ion-row>

        <ion-col size="12" *ngIf="order.products.length > 0">

          <ion-button class="btn-bottom" expand="block" (click)="chooseAddress()" *ngIf="!order.location">Escolher endereço</ion-button>

          <ion-button class="btn-bottom" expand="block" (click)="choosePaymentMethod()" *ngIf="order.location">Escolher forma de pagamento</ion-button>

        </ion-col>

      </ion-row>

    </ion-grid>

  </ion-footer>
  
</ion-card>