ion-content {
    ion-list {
        ion-item {
            ion-label {
                p {
                    ion-button {
                        height: 30px;
                        margin: 0;

                        .flag {
                            font-size: 22pt;
                            padding-top: 4px;
                        }

                        .digit {
                            font-size: 6pt;
                        }

                        .number {
                            font-size: 12pt;
                        }
                    }
                }
            }

            ion-icon.add {
                font-size: 11pt;
            }
        }
    }
}
