<ion-header mode="ios">

  <ion-toolbar>

    <ion-buttons slot="start">

      <ion-back-button text=""></ion-back-button>

    </ion-buttons>

    <ion-title>Formas de Pagamento</ion-title>

  </ion-toolbar>

</ion-header>

<ion-content mode="ios">

  <ion-list lines="full" mode="ios">

    <ion-item button="true" detail="false">

      <ion-label>Cartão de crédito</ion-label>

      <ion-icon class="add" slot="end" src="../../assets/icon/add.svg" color="primary"></ion-icon>

    </ion-item>

    <ion-item button="true" detail="false">

      <ion-label>

        Cartão de crédito

        <p>

          <ion-button class="ion-no-padding" fill="clear" color="medium">

            <span class="flag ion-margin-end">

              <ion-icon src="../../../../assets/icon/mastercard.svg"></ion-icon>

              <!-- <ion-icon src="../../../../assets/icon/amex.svg" *ngIf="c.payment_method == 'amex'"></ion-icon>

              <ion-icon src="../../../../assets/icon/elo.svg" *ngIf="c.payment_method == 'elo'"></ion-icon>

              <ion-icon src="../../../../assets/icon/hipercard.svg" *ngIf="c.payment_method == 'hipercard'">
              </ion-icon>

              <ion-icon src="../../../../assets/icon/mastercard.svg" *ngIf="c.payment_method == 'master'"></ion-icon>

              <ion-icon src="../../../../assets/icon/visa.svg" *ngIf="c.payment_method == 'visa'"></ion-icon> -->

            </span>

            <span class="digit ion-margin-end">

              <ion-icon name="ellipse"></ion-icon>

              <ion-icon name="ellipse"></ion-icon>

              <ion-icon name="ellipse"></ion-icon>

              <ion-icon name="ellipse"></ion-icon>

            </span>

            <span class="number">1234</span>

            <!-- <span class="number"
              *ngIf="c.number.length == 16">{{ c.number.slice(c.number.length-4, c.number.length) }}</span>

            <span class="number"
              *ngIf="c.number.length == 15">{{ c.number.slice(c.number.length-3, c.number.length) }}</span> -->

          </ion-button>

        </p>

      </ion-label>

      <ion-button class="ion-no-margin" fill="clear" color="primary">

        <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>

      </ion-button>

    </ion-item>

  </ion-list>

</ion-content>

<ngx-loading [show]="loading"></ngx-loading>