ion-content {
    --background: var(--ion-color-light);

    ion-list {
        ion-list-header {
            font-size: 14pt;
            margin-bottom: 10px;
            padding-left: 0;
        }

        ion-item {
            --border-color: var(--ion-color-medium-tint);
            
            h6 {
                padding: 10px 0;
                font-size: 11pt;
            }
        }
    }
}
