ion-content {
    h6 {
        font-weight:  bold;
    }

    p {
        font-weight: normal;
        text-align: justify;
    }

    span {
        font-weight: bold;
        margin-right: 10px;
        font-style: italic;
    }
}