ion-content {
    ion-grid {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        img {
            width: 60%;
        }
    }
}

@media (max-width: 600px) {
    ion-content ion-grid img {
        width: 80%;
    }
}