.img-welcome {
    width: 90%;
    margin: 0 auto;
}

.title {
    text-align: center;
    font-weight: bold;
    font-size: 20pt;
}

.subtitle {
    text-align: center;
    margin: 20px 0;
    font-size: 16pt;
}

.register {
    margin-top: 20px;
}

.ion-center-vertical {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

ion-button {
    margin-bottom: 10px;
}
