<ion-content class="ion-padding">

  <ion-grid class="ion-center-vertical">

    <ion-row>

      <ion-col size="12">

        <ion-img src="../../../assets/images/welcome.png" class="img-welcome animated zoomIn"></ion-img>

      </ion-col>

      <ion-col class="animated bounceInUp" size="12">

        <ion-label>

          <h6 class="title">Seja Bem-Vindo!</h6>

          <p class="subtitle">O que deseja fazer?</p>

        </ion-label>

      </ion-col>

      <ion-col class="animated bounceInUp" size="12">

        <ion-button expand="block" mode="ios" (click)="signin()" color="primary">Entrar</ion-button>

        <ion-button class="register" expand="block" mode="ios" fill="outline" (click)="signup()">Cadastrar
        </ion-button>

      </ion-col>

    </ion-row>

  </ion-grid>

</ion-content>