<ion-header mode="ios">

  <ion-toolbar>

    <ion-buttons slot="start">

      <ion-back-button text=""></ion-back-button>

    </ion-buttons>

    <ion-title>Política de Privacidade</ion-title>

  </ion-toolbar>

</ion-header>

<ion-content>

  <ion-grid class="ion-padding-horizontal">

    <ion-row>

      <ion-col size="12">

        <p>

          Nós utilizamos os seus dados como parte da nossa missão de proporcionar um serviço cada vez melhor. Essa
          política descreve como obtemos, armazenamos, utilizamos e compartilhamos as suas informações.

        </p>

        <p>

          A proteção dos seus dados e da sua privacidade são muito importantes para o Meu Pedido>. Portanto,
          recomendamos que você conheça melhor as nossas práticas e, em caso de dúvidas, entre em contato conosco.

        </p>

        <p>

          Você consente, de forma livre e expressa, que seus dados e informações sejam coletados, armazenados, tratados
          e compartilhados, conforme as regras dispostas nesta Política de Privacidade.

        </p>

        <p>

          Ao se cadastrar no Meu Pedido, o Usuário garante de forma expressa que é plenamente capaz, nos termos da
          legislação
          vigente, para exercer e gozar de todos os Serviços. Ademais, os Usuários menores de 18 anos deverão obter o
          consentimento expresso de seus pais, tutores ou representantes legais para utilizar os Serviços, conforme as
          disposições dos Termos e da Política de Privacidade do Meu Pedido. Os pais, tutores ou representantes legais
          serão
          plenamente responsáveis também no caso de acesso ao Meu Pedido por parte de crianças e adolescentes, sem a
          devida
          obtenção de autorização prévia. Cabe a eles a integral responsabilidade pela fiscalização das atividades e
          conduta dos respectivos menores sob sua tutela, bem como ciência da integralidade dos presentes Termos.

        </p>

      </ion-col>

      <ion-col size="12">

        <h6>

          <ion-text color="primary">

            Quais tipos de informações coletamos?

          </ion-text>

        </h6>

        <p>

          Ao utilizar o Aplicativo de propriedade do Meu Pedido, nós coletamos algumas informações importantes
          para que possamos prestar um serviço adequado para você. Abaixo detalhamos quais são essas informações.

        </p>

        <p>

          <ion-text color="primary">

            Informações que você nos fornece

          </ion-text>

        </p>

        <p>

          Quando você se inscrever para ser um usuário registrado do Meu Pedido, poderemos obter uma série de
          informações
          sobre você, tais como: seu nome, data de nascimento, CPF, endereço eletrônico, endereço de correspondência,
          senha, número de telefone e preferências de contato.

        </p>

        <p>

          Além dessas informações iniciais de cadastro, você pode ainda nos fornecer dois tipos de informações: dados de
          pagamento (apenas nos casos em que o pagamento é online); informações de localização e informações dos seus
          dispositivos.

        </p>

        <p>

          <ion-text color="primary">

            Informações não-pessoais

          </ion-text>

        </p>

        <p>

          Nós também podemos obter informações não-pessoais, ou seja, dados que não permitem a associação direta com
          qualquer pessoa especificamente. São exemplos de dados não-pessoais a idade do indivíduo, preferencias
          individuais, idioma, CEP e código de área.

        </p>

        <p>

          Nós também poderemos obter informações sobre as atividades dos usuários no nosso Aplicativo. Essas
          informações são agregadas e usadas para nos ajudar a fornecer informações para os nossos clientes e entender
          quais partes dos nossos produtos e serviços atraem mais interesse dos usuários. Dados agregados são
          considerados informações não-pessoais para fins desta Política de Privacidade.

        </p>

        <p>

          Se combinarmos informações não-pessoais com informações pessoais, a informação combinada será tratada como
          informação pessoal enquanto essa informação permanecer combinada.

        </p>

      </ion-col>

      <ion-col size="12">

        <h6>

          <ion-text color="primary">

            Como utilizamos essas informações?

          </ion-text>

        </h6>

        <p>

          <ion-text color="primary">

            Promover, melhorar e desenvolver nossos serviços

          </ion-text>

        </p>

        <p>

          Podemos usar essas informações coletadas para nos ajudar a desenvolver, oferecer e melhorar os nossos produtos
          e serviços destinados a você, existentes ou serem criados.

        </p>

        <p>

          Também poderemos usar suas informações pessoais para fins internos, tais como auditoria, análise de dados e
          pesquisas para aprimorar os produtos, serviços e comunicações com os clientes, e geração de análises
          estatísticas com respeito ao uso dos nossos serviços, incluindo tendências de consumo.

        </p>

        <p>

          <ion-text color="primary">

            Avaliação de Estabelecimentos

          </ion-text>

        </p>

        <p>

          Ao enviar comentários e feedback com relação ao Aplicativo e os serviços de delivery dos nossos
          parceiros, você nos autoriza a publicar e utilizar tais comentários e feedbacks no Aplicativo e em
          quaisquer materiais de marketing ou publicidade, bem como a analisar, processar e tratar esse feedback de
          forma isolada ou agregada nos termos desta política de privacidade. Para tanto, apenas identificaremos você
          através de seu nome de cadastro, foto do perfil do Meu Pedido (caso você tenha uma) e da sua cidade de
          residência.

        </p>

        <p>

          <ion-text color="primary">

            Comunicação

          </ion-text>

        </p>

        <p>

          Periodicamente poderemos usar suas informações pessoais para enviar avisos e notificações importantes, como
          comunicados sobre compras, alterações em prazos, condições e políticas. Como estas informações são importantes
          para a sua interação com o Meu Pedido, você não poderá optar por não receber esse tipo de comunicação, já que
          são
          inerentes ao uso do serviço.

        </p>

        <p>

          <ion-text color="primary">

            Segurança

          </ion-text>

        </p>

        <p>

          Nós podemos também utilizar esses dados coletados para aprimorar a segurança e melhorar os serviços e as
          ofertas do Meu Pedido destinadas a você. Dessa forma, podemos analisar e solucionar problemas técnicos, bem
          como
          identificar e coibir fraudes na utilização do nosso Serviço.

        </p>

        <p>

          <ion-text color="primary">

            Marketing

          </ion-text>

        </p>

        <p>

          Nós poderemos usar suas informações pessoais para enviar publicidade, bem como outros materiais promocionais
          voltados ao marketing de nossos serviços e de novidades para você, o que inclui campanhas digitais (tais como
          marketing direcionado em redes sociais e notificações push) e não digitais (como divulgação em radiodifusão,
          outdoors, panfletos, entre outros).

        </p>

        <p>

          Nesse caso, você pode optar por não receber mais e-mails de marketing a qualquer momento, alterando as suas
          preferências.

        </p>

        <p>

          Além disso, poderemos compartilhar as informações com parceiros do Meu Pedido, para fins de desenvolver
          campanhas
          de marketing mais relevantes para interessados nos produtos do Meu Pedido. O Meu Pedido somente compartilhará
          dados com
          parceiros que possuírem política de privacidade que ofereça níveis compatíveis de proteção àquele oferecido
          por esta política.

        </p>

        <p>

          <ion-text color="primary">

            Promoções

          </ion-text>

        </p>

        <p>

          Se você participar de um concurso, competição ou qualquer outra modalidade de promoção, poderemos usar as
          informações que você fornecer para administrar esses programas.

        </p>

        <p>

          <ion-text color="primary">

            Dados não-pessoais

          </ion-text>

        </p>

        <p>

          Nós poderemos usar informações não-pessoais para a consecução das finalidades previstas nessa Política de
          Privacidade.

        </p>

        <p>

          <ion-text color="primary">

            Dados não-pessoais

          </ion-text>

        </p>

        <p>

          Nós poderemos usar informações não-pessoais para a consecução das finalidades previstas nessa Política de
          Privacidade.

        </p>

      </ion-col>

      <ion-col size="12">

        <h6>

          <ion-text color="primary">

            Como respondemos a requerimentos legais?

          </ion-text>

        </h6>

        <p>

          O Meu Pedido também poderá compartilhar suas informações com autoridades policiais ou judiciais, autoridades
          públicas competentes ou outros terceiros, dentro e fora do país em que você reside, caso seja requerido pela
          legislação aplicável, por decisão judicial e por requisição de autoridades, ou se necessário para responder a
          processos judiciais ou para participar em eventuais litígios ou disputas de qualquer natureza.

        </p>

        <p>

          Nestas situações, o Meu Pedido cooperará com as autoridades competentes na medida em que discricionariamente
          entenda necessário e adequado em relação a qualquer investigação de ilícitos, infrações a direitos de
          propriedade industrial ou intelectual, ou outra atividade que seja ilegal ou que possa expor o Meu Pedido ou
          seus
          usuários a qualquer responsabilidade legal ou lhes impor riscos, ressalvadas hipóteses de sigilo de
          informações constantes na legislação aplicável.

        </p>

        <p>

          Além disso, o Meu Pedido se reserva o direito de compartilhar informações sobre seus usuários a terceiros
          quando
          houver motivos suficientes para considerar que a atividade de um usuário é suspeita, ilegal ou prejudicial ao
          Meu Pedido ou a terceiros.

        </p>

        <p>

          Este direito será utilizado pelo Meu Pedido quando considerar apropriado ou necessário para manter a
          integridade e
          a segurança do seu serviço, para o cumprimento dos seus Termos e Condições de Uso e Política de Privacidade, e
          com o intuito de cooperar com a execução e cumprimento da lei, independentemente de existir ou não uma ordem
          judicial ou administrativa para tanto.

        </p>

      </ion-col>

      <ion-col size="12">

        <h6>

          <ion-text color="primary">

            Como protegemos suas informações?

          </ion-text>

        </h6>

        <p>

          O Meu Pedido emprega seus melhores esforços para respeitar e proteger suas informações pessoais contra perda,
          roubo
          ou qualquer modalidade de uso indevido, bem como contra acesso não autorizado, divulgação, alteração e
          destruição.

        </p>

        <p>

          Utilizamos o moderno princípio de privacy by design, respeitando a sua privacidade e protegendo seus dados nos
          nossos processos internos como um todo.

        </p>

        <p>

          Só tratamos os seus dados mediante alto grau de segurança, implementando as melhores práticas em uso na
          indústria para a proteção de dados, tais como técnicas de criptografia, monitoração e testes de segurança
          periódicos. Contudo, não é possível garantir completamente a não ocorrência de interceptações e violações dos
          sistemas e bases de dados do Meu Pedido, uma vez que a internet possui sua estrutura de segurança em
          permanente
          aperfeiçoamento.

        </p>

      </ion-col>

      <ion-col size="12">

        <h6>

          <ion-text color="primary">

            Como iremos notificá-lo em caso de mudanças à essa política?

          </ion-text>

        </h6>

        <p>

          O Meu Pedido poderá atualizar essa Política de Privacidade periodicamente, sendo que a versão em vigor será
          sempre
          a mais recente.

        </p>

        <p>

          Se fizermos alguma alteração na política em termos materiais, podemos colocar um aviso no nosso Aplicativo,
          Aplicativo ou te enviar um e-mail, juntamente com a Política de Privacidade atualizada. Por isso é sempre
          importante manter seus dados de contato atualizados.

        </p>

      </ion-col>

      <ion-col size="12">

        <h6>

          <ion-text color="primary">

            Como entrar em contato com Meu Pedido em caso de dúvidas?

          </ion-text>

        </h6>

        <p>

          Se você tiver algum questionamento ou dúvida com relação à Política de Privacidade do Meu Pedido ou qualquer
          prática aqui descrita, entre em contato conosco no endereço através aba “Fale conosco” do nosso Aplicativo.

        </p>

      </ion-col>

    </ion-row>

  </ion-grid>

</ion-content>