ion-content {
    --background: var(--ion-color-light);

    ion-list {
        ion-item {
            --border-color: var(--ion-color-medium-tint);
            
            ion-icon {
                color: var(--ion-color-dark);
                margin-right: 20px;
            }

            ion-label {
                color: var(--ion-color-dark);
            }
        }
    }
}
