<app-header></app-header>

<ion-content class="animate__animated animate__fadeIn" mode="ios" color="light" scrollY="false">

  <div class="ion-scroll">

    <ion-grid class="ion-no-padding" *ngIf="company">

      <ion-row>

        <ion-col class="ion-no-padding menu" size-lg="12" size-xl="8">

          <img class="banner" [src]="company?.banner ? company.banner : bannerDefault">

          <ion-list class="company-info">

            <ion-item lines="none" color="light">
              
              <ion-thumbnail slot="start">
        
                <img [src]="company.image">
        
              </ion-thumbnail>
        
              <ion-label class="ion-text-wrap">
        
                <h6>
        
                  {{ company.name }}
        
                  <span *ngIf="company.evaluation">
        
                    <ion-icon name="star"></ion-icon> {{ company.evaluation }}
        
                  </span>
        
                </h6>
        
                <p>Entrega: {{ company.waiting_time }} min <span class="ellipse"></span> {{ company.delivery_price | money }}</p>
              
                <p>Pedido mínimo: {{ company.min_order_value | money }}</p>
        
              </ion-label>
        
            </ion-item>
        
          </ion-list>

          <ion-grid>

            <ion-row *ngFor="let item of menu">

              <ion-col size="12">

                <h4>{{ item.name }}</h4>

              </ion-col>

              <ion-col size-sm="12" size-md="6" *ngFor="let product of item.products">

                <ion-card button="true" (click)="modalProduct(product)">

                  <ion-item lines="none">

                    <ion-thumbnail slot="start">

                      <img [src]="product.image">

                    </ion-thumbnail>

                    <ion-label class="ion-text-wrap">

                      <h5>{{ product.name }}</h5>

                      <p>{{ product.description }}</p>

                      <h6>{{ product.price - product.rebate | money }} <span *ngIf="product.rebate">{{ product.rebate |
                          money }}</span></h6>

                    </ion-label>

                  </ion-item>

                </ion-card>

              </ion-col>

            </ion-row>

          </ion-grid>

        </ion-col>

        <ion-col class="ion-no-padding order" size="4">

          <app-current-order [products]="products"></app-current-order>

        </ion-col>

      </ion-row>

    </ion-grid>

  </div>

</ion-content>