ion-header {
    ion-title {
        font-size: 12pt;
    }

    span {
        color: var(--ion-color-primary);
        display: block;
        text-align: center;
        font-size: 9pt;
        font-weight: normal;
        text-transform: none;
    }
}

ion-content {
    h6 {
        font-size: 12pt;
    }

    p {
        font-size: 10pt;
    }
}