<ion-header class="ion-no-border animated fadeInDown" mode="ios">

  <ion-toolbar>

    <ion-searchbar placeholder="Produto ou Loja" autofocus="true" [(ngModel)]="search" (search)="doSearch()"
      (ionClear)="clearSearch()">
    </ion-searchbar>

  </ion-toolbar>

  <ion-toolbar mode="md" *ngIf="products && companies">

    <ion-segment [value]="segment" (ionChange)="segmentChanged($event)">

      <ion-segment-button value="1">

        <ion-label>Lojas ({{ companies?.length }})</ion-label>

      </ion-segment-button>

      <ion-segment-button value="2">

        <ion-label>Itens ({{ products?.length }})</ion-label>

      </ion-segment-button>

    </ion-segment>

  </ion-toolbar>

</ion-header>

<ion-content>

  <ion-list class="animated fadeIn delay-1s" mode="ios" lines="full"
    *ngIf="!products && !companies && searches?.length > 0">

    <ion-item class="ion-no-padding">

      <ion-list-header>Buscas recentes</ion-list-header>

      <ion-buttons slot="end">

        <ion-button (click)="deleteHistory()">

          <ion-icon slot="start" name="trash-outline" color="primary"></ion-icon>

          Apagar

        </ion-button>

      </ion-buttons>

    </ion-item>

    <ion-item button="true" detail="false" *ngFor="let s of searches; let i=index" (click)="selectSearch(i)">

      <ion-icon src="../../../assets/icon/history.svg"></ion-icon>

      <ion-label>{{ s }}</ion-label>

    </ion-item>

  </ion-list>

  <ion-grid class="ion-no-padding" mode="ios" *ngIf="products && companies">

    <ion-row class="companies" *ngIf="segment == 1">

      <ion-col size="12" *ngFor="let c of companies">

        <ion-card class="ion-no-margin animated bounceInUp" button="true" (click)="company(c)">

          <ion-card-content class="ion-no-padding">

            <ion-row>

              <div [ngClass]="{ 'image': true, 'close': !c.is_open }">

                <ion-img [src]="c.photo"></ion-img>

                <h6 [hidden]="c.is_open">Fechado</h6>

              </div>

              <div class="info">

                <h6>{{ c.name }}</h6>

                <p>

                  <span class="new" *ngIf="c.feedback == null">Novo</span>

                  <span class="stars" *ngIf="c.feedback != null">

                    <ion-icon name="star"></ion-icon> {{ c.feedback }}

                  </span>

                  <ion-icon class="ellipse" name="ellipse"></ion-icon>

                  {{ c.waiting_time }}

                  <ion-icon class="ellipse" name="ellipse"></ion-icon>

                  {{ c.distance | distance }}

                </p>

                <p>

                  Entrega

                  <span class="price" *ngIf="c.delivery_price != null">{{ c.delivery_price | money }}</span>

                  <span class="price" *ngIf="c.delivery_price == null">Grátis</span>

                </p>

              </div>

            </ion-row>

          </ion-card-content>

        </ion-card>

      </ion-col>

    </ion-row>

    <ion-row class="items" *ngIf="segment == 2">

      <ion-col size="6" *ngFor="let p of products">

        <ion-card class="ion-no-margin animated bounceInUp" button="true" (click)="product(p)">

          <ion-card-header class="ion-no-padding">

            <ion-img [src]="p.photo"></ion-img>

            <ion-thumbnail>
              <img [src]="p.company_photo">
            </ion-thumbnail>

          </ion-card-header>

          <ion-card-content class="ion-text-left">

            <h6 class="ion-text-wrap">{{ p.name }}</h6>

            <p class="ion-text-wrap description">{{ p.description }}</p>

            <p class="prices">

              <span class="price">{{ p.price | money }}</span>

              <span class="scratched-price" *ngIf="p.promotional_price != null">{{ p.promotional_price | money }}</span>

            </p>

          </ion-card-content>

          <ion-footer class="ion-text-center">

            <span>{{ p.waiting_time }} min</span>

            <ion-icon name="ellipse"></ion-icon>

            <span>{{ p.distance | distance }}</span>

            <br>

            <span>Entrega</span>

            <span class="price" *ngIf="p.delivery_price != null">{{ p.delivery_price | money }}</span>

            <span class="price" *ngIf="p.delivery_price == null">Grátis</span>

          </ion-footer>

        </ion-card>

      </ion-col>

    </ion-row>

  </ion-grid>

</ion-content>