ion-content {
    ion-grid {
        position: absolute;
        top: calc(50% - 74px);
        left: 50%;
        transform: translate(-50%, -50%);
        width: 85%;

        ion-icon {
            font-size: 68pt;
        }

        ion-label {
            h6 {
                font-size: 12pt;
                font-weight: normal;
            }

            p {
                font-size: 11pt;
                margin-bottom: 20px;
            }
        }

        ion-button {
            margin-top: 30px;
        }
    }
}
