<ion-tabs mode="md">

  <app-button-cart></app-button-cart>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="home">

      <ion-icon src="../../../assets/icon/home.svg"></ion-icon>

      <ion-label>Início</ion-label>

    </ion-tab-button>

    <ion-tab-button tab="search">

      <ion-icon src="../../../assets/icon/search.svg"></ion-icon>

      <ion-label>Busca</ion-label>

    </ion-tab-button>

    <ion-tab-button tab="orders">

      <ion-icon src="../../../assets/icon/invoice.svg"></ion-icon>

      <ion-label>Pedidos</ion-label>

    </ion-tab-button>

    <ion-tab-button tab="profile">

      <ion-icon src="../../../assets/icon/user.svg"></ion-icon>

      <ion-label>Perfil</ion-label>

    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>