ion-header {
    ion-toolbar {
        ion-title {
            font-size: 12pt;
            text-transform: uppercase;
            font-weight: 400;
            padding: 0;
        }

        ion-button ion-icon {
            font-size: 16pt;
            margin-right: 10px;
        }
    }
}

ion-content {
    ion-item {
        span.card {
            width: 100%;
            padding: 10px 0;

            p {
                color: var(--ion-color-medium);

                ion-button {
                    height: 30px;
                    margin: 0;

                    .flag {
                        font-size: 22pt;
                    }

                    .digit {
                        font-size: 6pt;
                    }

                    .number {
                        font-size: 11pt;
                    }
                }
            }
        }

        h6 {
            margin-top: 30px;
            margin-bottom: 20px;
        }

        ion-label {
            font-size: 11pt;
            color: var(--ion-color-dark);
        }

        img {
            width: 30px;
            margin-right: 10px;
        }

        ion-buttons {
            margin: 0 3px 0 0;
        }
    }
}
