.alert-custom-popup {
    width: 400px !important;
}

.alert-custom-icon {
    width: 40px !important;
    height: 40px !important;
    color: var(--ion-color-primary) !important;
    border-color: var(--ion-color-primary) !important;

    .swal2-icon-content {
        font-size: 1.75em !important;
        font-weight: 700 !important;
    }
}

.alert-custom-cancel-button {
    background: transparent !important;
    color: var(--ion-color-primary) !important;
    font-weight: 600 !important;
    box-shadow: none !important;
}

.alert-custom-confirm-button {
    width: 100% !important;
    height: 45px !important;
    border-radius: 5px !important;
    background: var(--ion-color-primary) !important;
    font-weight: 600 !important;
    box-shadow: none !important;
}

.alert-custom-title {
    font-size: 1.375rem !important;
    font-weight: 600 !important;
    color: #595756 !important;
}

.alert-custom-header {
    padding: 0 !important;
}

.alert-custom-actions {
    padding: 0 !important;
    margin: 10px 0 0 !important;
}