.swal2-styled.swal2-confirm {
  background-color: var(--ion-color-primary) !important;
  border-color: var(--ion-color-primary) !important;
}

.swal2-styled {
  width: calc(50% - 20px) !important;
  margin: 0 10px !important;
  padding: 0.8em 0 !important;
}

.swal2-title {
  font-size: 16pt !important;
}

.swal2-content {
  font-size: 12pt !important;
  padding: 10px !important;
}

.swal2-input {
  max-width: 90% !important;
  border-radius: 10px !important;
  font-size: 16px !important;
  height: 46px !important;
  padding: 0 15px !important;
  margin: 10px auto 0 !important;
}

.swal2-popup {
  width: 100% !important;
  padding: 20px 10px !important;
}

.swal2-actions {
  margin: 10px auto 0 !important;
}

.swal2-btn-desconnection {
  background: var(--ion-color-primary);
  color: #fff;
  border-radius: 6px;
  font-size: 17px;
  font-weight: 400;
  height: 46px;
  padding: 0 0.9em;
}

.swal2-btn-desconnection:focus {
  outline: none;
}

.swal2-image-desconnection {
  margin: 0 !important;
}

.swal2-popup-desconnection {
  padding-top: 0 !important;
}