ion-card[color="primary"] {
    background: var(--ion-color-primary);
    background: -webkit-linear-gradient(to right, var(--ion-color-primary-tint), var(--ion-color-primary));
    background-image: linear-gradient(to right, var(--ion-color-primary-tint), var(--ion-color-primary));
}
