/** Poppins **/
@font-face {
    font-family: "poppins";
    font-style: normal;
    font-weight: normal;
    src: url(../assets/fonts/Poppins-Light.otf);
}

@font-face {
    font-family: "poppins";
    font-style: normal;
    font-weight: 400;
    src: url(../assets/fonts/Poppins-Regular.otf);
}

@font-face {
    font-family: "poppins";
    font-style: normal;
    font-weight: 500;
    src: url(../assets/fonts/Poppins-Medium.otf);
}

@font-face {
    font-family: "poppins";
    font-style: normal;
    font-weight: bold;
    src: url(../assets/fonts/Poppins-SemiBold.otf);
}
