@font-face {
    font-family: "mazzard";
    font-style: normal;
    font-weight: 300;
    src: url(../assets/font/mazzard/MazzardH-ExtraLight.ttf) format("truetype"),
        url(../assets/font/mazzard/MazzardH-ExtraLight.woff) format("woff"),
        url(../assets/font/mazzard/MazzardH-ExtraLight.woff2) format("woff2");
}

@font-face {
    font-family: "mazzard";
    font-style: normal;
    font-weight: 400;
    src: url(../assets/font/mazzard/MazzardH-Light.ttf) format("truetype"),
        url(../assets/font/mazzard/MazzardH-Light.woff) format("woff"),
        url(../assets/font/mazzard/MazzardH-Light.woff2) format("woff2");
}

@font-face {
    font-family: "mazzard";
    font-style: normal;
    font-weight: 500;
    src: url(../assets/font/mazzard/MazzardH-Regular.ttf) format("truetype"),
        url(../assets/font/mazzard/MazzardH-Regular.woff) format("woff"),
        url(../assets/font/mazzard/MazzardH-Regular.woff2) format("woff2");
}

@font-face {
    font-family: "mazzard";
    font-style: normal;
    font-weight: 600;
    src: url(../assets/font/mazzard/MazzardH-Medium.ttf) format("truetype"),
        url(../assets/font/mazzard/MazzardH-Medium.woff) format("woff"),
        url(../assets/font/mazzard/MazzardH-Medium.woff2) format("woff2");
}

@font-face {
    font-family: "mazzard";
    font-style: normal;
    font-weight: 700;
    src: url(../assets/font/mazzard/MazzardH-SemiBold.ttf) format("truetype"),
        url(../assets/font/mazzard/MazzardH-SemiBold.woff) format("woff"),
        url(../assets/font/mazzard/MazzardH-SemiBold.woff2) format("woff2");
}
