ion-header {
    margin-top: 30px;
    
    ion-segment-button {
        text-transform: capitalize;
        letter-spacing: normal;
        font-weight: normal;
        font-size: 12pt;
    }

    ion-back-button {
        margin-left: 10px;
    }

    ion-title {
        font-weight: 400;
        text-transform: uppercase;
    }
}
