.sc-ion-modal-md-h {
    --backdrop-opacity: var(--ion-backdrop-opacity, 0.4);
}

.sc-ion-modal-ios-h {
    --backdrop-opacity: var(--ion-backdrop-opacity, 0.4);
}

ion-popover.popover-dropdown .popover-wrapper {
    .popover-arrow.sc-ion-popover-ios {
        display: none;
    }

    .popover-content.sc-ion-popover-ios {
        --box-shadow: 0 0 10px var(--ion-color-medium);
        border-radius: 2px;
    }
}

ion-modal.modal-lg .modal-wrapper {
    min-width: calc(100% - 200px);
    min-height: calc(100% - 200px);
}

span.ellipse {
    margin-left: 4px;
    margin-right: 4px;
    font-size: 16px;

    &::before {
        content: "•";
    }
}

ion-segment-button {
    letter-spacing: -0.03em;
    border: none;
}

ion-grid {
    --ion-grid-padding: 8px;
    --ion-grid-width: 100%;

    ion-col {
        --ion-grid-column-padding: 8px;
        --ion-grid-column-padding-lg: 8px;
        --ion-grid-column-padding-md: 8px;
        --ion-grid-column-padding-sm: 8px;
        --ion-grid-column-padding-xl: 8px;
        --ion-grid-column-padding-xs: 8px;
    }
}

@media (min-width: 768px) {
    ion-modal.modal-sm .modal-wrapper {
        width: 500px;
        height: 400px;
    }
}
