ion-popover.popover-dropdown .popover-wrapper {
    .popover-arrow.sc-ion-popover-ios {
        display: none;
    }

    .popover-content.sc-ion-popover-ios {
        --box-shadow: 0 0 10px var(--ion-color-medium);
        border-radius: 2px;
    }
}

ion-modal.modal-lg .modal-wrapper {
    min-width: calc(100% - 200px);
    min-height: calc(100% - 200px);
}

span.ellipse {
    margin-left: 4px;
    margin-right: 4px;
    font-size: 16px;

    &::before {
        content: '•';
    }
}

ion-segment-button {
    letter-spacing: -0.03em;
    border: none;
}

@media (min-width: 768px) {
    ion-modal.modal-sm .modal-wrapper {
        width: 500px;
        height: 400px;
    }
}