.searchbar-input-container.sc-ion-searchbar-ios {
    height: 44px;
}

ion-popover.popover-dropdown .popover-wrapper {
    .popover-arrow.sc-ion-popover-ios {
        display: none;
    }

    .popover-content.sc-ion-popover-ios {
        --box-shadow: 0 0 10px var(--ion-color-medium);
        border-radius: 2px;
    }
}

span.ellipse {
    margin-left: 5px;
    margin-right: 5px;
    font-size: 16px;

    &::before {
        content: "•";
    }
}

ion-searchbar {
    --border-radius: 5px !important;
}

ion-segment-button {
    letter-spacing: -0.03em;
    border: none;
}

ion-grid {
    --ion-grid-padding: 8px;
    --ion-grid-width: 100%;

    ion-col {
        --ion-grid-column-padding: 8px;
        --ion-grid-column-padding-lg: 8px;
        --ion-grid-column-padding-md: 8px;
        --ion-grid-column-padding-sm: 8px;
        --ion-grid-column-padding-xl: 8px;
        --ion-grid-column-padding-xs: 8px;
    }
}



ngx-loading {
    z-index: 9999999999;
}

div.ion-scroll {
    overflow-y: auto;
    height: 100%;
}

@media (pointer: fine) {
    div.ion-scroll {
        &::-webkit-scrollbar {
            width: 4px;
        }
        &::-webkit-scrollbar-track {
            background: transparent;
        }
        &::-webkit-scrollbar-thumb {
            background: var(--ion-color-light-shade);
        }
    }
}

ion-item {
    --padding-start: 16px;
    --inner-padding-end: 16px;
    --border-color: var(--ion-color-light);
}

ion-toolbar {
    --border-color: var(--ion-color-light);
}