ion-item {
    --min-height: 0;
    --padding-start: 2px;
    --inner-padding-end: 2px;

    &.lines {
        --border-radius: 5px !important;
        --border-width: 0.55px !important;
    }

    ion-label {
        text-align: center;
        font-size: 1.125rem;
        line-height: 1.5rem;
        font-weight: 500;
        margin: 9.4px 0;
    }

    ion-button {
        height: 100%;
    }
}
