<ion-header mode="ios" class="ion-no-border ion-margin-top">

  <ion-toolbar>

    <ion-buttons slot="start" *ngIf="btnBack">

      <ion-button class="btn-back" (click)="back()">

        <ion-icon slot="icon-only" name="chevron-back-outline" class="ion-no-margin"></ion-icon>

      </ion-button>

    </ion-buttons>

    <ion-button class="btn-location" mode="ios" fill="clear" (click)="location()">

      <ion-icon slot="start" name="location-sharp" color="danger"></ion-icon>

      <span class="location ion-padding-vertical">{{ address }}</span>

      <ion-icon slot="end" name="chevron-down-outline" color="medium"></ion-icon>

    </ion-button>

  </ion-toolbar>

  <ion-toolbar [hidden]="!search">

    <ion-searchbar placeholder="Produto ou Loja" mode="ios" (ionFocus)="focusSearch()"></ion-searchbar>

  </ion-toolbar>

</ion-header>