<ion-header mode="ios" class="ion-no-border">

  <ion-toolbar>

    <ion-title>

      Pedidos

    </ion-title>

  </ion-toolbar>

  <ion-toolbar class="animated fadeIn" mode="md" *ngIf="current_orders?.length > 0">

    <ion-segment [value]="segment" (ionChange)="segmentChanged($event)">

      <ion-segment-button value="current" class="tab-category">

        <ion-label>Em Andamento</ion-label>

      </ion-segment-button>

      <ion-segment-button value="previous" class="tab-category">

        <ion-label>Anteriores</ion-label>

      </ion-segment-button>

    </ion-segment>

  </ion-toolbar>

</ion-header>

<ion-content>

  <div [hidden]="segment != 'current' || current_orders?.length == 0">

    <ion-list class="ion-margin-top animated bounceInUp" mode="ios" *ngFor="let c of current_orders">

      <ion-card class="ion-padding-vertical">

        <ion-item lines="none">

          <ion-avatar>

            <img [src]="c.company_photo">

          </ion-avatar>

          <ion-label>

            <h6 class="ion-text-wrap">{{ c.company_name }}</h6>

            <p class="ion-text-wrap">Pedido Nº {{ c.id }}</p>

          </ion-label>

          <ion-button fill="clear" href="tel:{{ c.company_phone }}">

            <ion-icon slot="icon-only" name="call-outline"></ion-icon>

          </ion-button>

        </ion-item>

        <ion-item lines="full">

          <ion-label>

            <p>Previsão de entrega</p>

            <h6 class="time">{{ c.waiting_time }}</h6>

            <ion-progress-bar type="indeterminate"></ion-progress-bar>

            <p class="ion-text-wrap status">

              <ion-icon name="ellipse"></ion-icon>

              <span *ngIf="c.status == 0">Aguardando confirmação</span>

              <span *ngIf="c.status == 1">O pedido está sendo preparado</span>

              <span *ngIf="c.status == 2">Aguardando o entregador</span>

              <span *ngIf="c.status == 3">O pedido está a caminho</span>

            </p>

          </ion-label>

        </ion-item>

        <ion-item lines="full">

          <ion-label>

            <p class="ion-text-wrap" *ngFor="let p of c.products">

              <span class="qty">{{ p.qty }}x</span>

              {{ p.name }}

            </p>

          </ion-label>

        </ion-item>

        <ion-item lines="none">

          <ion-label>

            <h6 class="ion-padding-vertical ion-text-center">Seu pedido chegou?</h6>

            <ion-button expand="block" (click)="confirmDelivery(c.id)">

              Confirmar entrega

            </ion-button>

          </ion-label>

        </ion-item>

        <ion-item lines="none">

          <ion-label>

            <ion-buttons class="options" routerLink="/order-help">

              <ion-button>

                Ajuda

              </ion-button>

              <ion-button (click)="details(c.id)">

                Detalhes

              </ion-button>

            </ion-buttons>

          </ion-label>

        </ion-item>

      </ion-card>

    </ion-list>

  </div>

  <div [hidden]="segment != 'previous' || previous_orders?.length == 0">

    <ion-list class="ion-margin-top animated bounceInUp" mode="ios" *ngFor="let p of previous_orders">

      <ion-list-header>{{ p.created_at | date }}</ion-list-header>

      <ion-card class="ion-padding-vertical details">

        <ion-item lines="full">

          <ion-avatar>

            <img [src]="p.company_photo">

          </ion-avatar>

          <ion-label>

            <h6 class="ion-text-wrap">{{ p.company_name }}</h6>

            <p class="ion-text-wrap">Nº do pedido {{ p.id }}</p>

          </ion-label>

        </ion-item>

        <ion-item lines="full">

          <ion-label>

            <p class="ion-text-wrap" *ngFor="let p2 of p.products">

              <span class="qty">{{ p2.qty }}x</span>

              {{ p2.name }}

            </p>

          </ion-label>

        </ion-item>

        <ion-item lines="full">

          <ion-label class="ion-text-center">

            <h6 *ngIf="p.feedback == null">Avalie o pedido</h6>

            <h6 *ngIf="p.feedback != null">Avaliação do pedido</h6>

            <ion-button class="ion-no-padding feedback" fill="clear"
              [color]="p.feedback == null ? 'medium' : p.feedback >= 1 ? 'warning' : 'medium'"
              [disabled]="p.feedback != null" (click)="feedback(p.id, 1)">

              <ion-icon slot="icon-only"
                [name]="p.feedback == null ? 'star-outline' : p.feedback >= 1 ? 'star' : 'star-outline'"></ion-icon>

            </ion-button>

            <ion-button class="ion-no-padding feedback" fill="clear"
              [color]="p.feedback == null ? 'medium' : p.feedback >= 2 ? 'warning' : 'medium'"
              [disabled]="p.feedback != null" (click)="feedback(p.id, 2)">

              <ion-icon slot="icon-only"
                [name]="p.feedback == null ? 'star-outline' : p.feedback >= 2 ? 'star' : 'star-outline'"></ion-icon>

            </ion-button>

            <ion-button class="ion-no-padding feedback" fill="clear"
              [color]="p.feedback == null ? 'medium' : p.feedback >= 3 ? 'warning' : 'medium'"
              [disabled]="p.feedback != null" (click)="feedback(p.id, 3)">

              <ion-icon slot="icon-only"
                [name]="p.feedback == null ? 'star-outline' : p.feedback >= 3 ? 'star' : 'star-outline'"></ion-icon>

            </ion-button>

            <ion-button class="ion-no-padding feedback" fill="clear"
              [color]="p.feedback == null ? 'medium' : p.feedback >= 4 ? 'warning' : 'medium'"
              [disabled]="p.feedback != null" (click)="feedback(p.id, 4)">

              <ion-icon slot="icon-only"
                [name]="p.feedback == null ? 'star-outline' : p.feedback >= 4 ? 'star' : 'star-outline'"></ion-icon>

            </ion-button>

            <ion-button class="ion-no-padding feedback" fill="clear"
              [color]="p.feedback == null ? 'medium' : p.feedback == 5 ? 'warning' : 'medium'"
              [disabled]="p.feedback != null" (click)="feedback(p.id, 5)">

              <ion-icon slot="icon-only"
                [name]="p.feedback == null ? 'star-outline' : p.feedback == 5 ? 'star' : 'star-outline'"></ion-icon>

            </ion-button>

          </ion-label>

        </ion-item>

        <ion-item lines="none">

          <ion-label>

            <ion-buttons class="options">

              <ion-button>

                Ajuda

              </ion-button>

              <ion-button (click)="details(p.id)">

                Detalhes

              </ion-button>

            </ion-buttons>

          </ion-label>

        </ion-item>

      </ion-card>

    </ion-list>

  </div>

  <div class="empty animated bounceInDown" [hidden]="loading || previous_orders?.length > 0">

    <img src="../../../assets/images/empty.png">

    <p class="ion-no-margin">Nenhum pedido encontrado!</p>

  </div>

</ion-content>