<ion-header mode="ios">

  <ion-toolbar>

    <ion-title class="ion-no-padding">

      <ion-button class="location" fill="clear" (click)="location()">

        <div>

          <p>Entregar em</p>

          <ion-icon class="location" slot="start" name="location-sharp" color="primary"></ion-icon>

          <ion-label *ngIf="order.location">{{ order.location.street_name }}, {{ order.location.street_number }}</ion-label>

          <ion-label *ngIf="!order.location">Escolha um endereço</ion-label>

          <ion-icon class="chevron" slot="end" name="chevron-down-outline" color="medium"></ion-icon>

        </div>

      </ion-button>

    </ion-title>

    <ion-buttons slot="end">

      <ion-menu-button></ion-menu-button>

      <ion-button class="btn-signin" (click)="signin()" *ngIf="!user">

        <ion-icon src="../../../assets/icon/log-in.svg"></ion-icon>

        Entrar

      </ion-button>

      <ion-button class="btn-bag">

        <ion-icon src="../../../assets/icon/bag.svg"></ion-icon>

        Sacola

      </ion-button>

    </ion-buttons>

  </ion-toolbar>

  <ion-toolbar mode="md" class="filter-mobile">

    <ion-segment scrollable (ionChange)="segmentChanged($event)">

      <ion-segment-button [value]="item.id" *ngFor="let item of menu">{{ item.name }}</ion-segment-button>

    </ion-segment>

  </ion-toolbar>

</ion-header>

<ion-content mode="ios" color="light" scrollY="false">

  <ion-grid class="ion-no-padding" *ngIf="company">

    <ion-row>

      <ion-col class="ion-no-padding menu" size-lg="12" size-xl="8">

        <img class="banner" [src]="company?.banner ? company.banner : bannerDefault">

        <ion-list class="company-info">

          <ion-item lines="none" color="light">
            
            <ion-thumbnail slot="start">
      
              <img [src]="company.image">
      
            </ion-thumbnail>
      
            <ion-label class="ion-text-wrap">
      
              <h6>
      
                {{ company.name }}
      
                <span *ngIf="company.evaluation">
      
                  <ion-icon name="star"></ion-icon> {{ company.evaluation }}
      
                </span>
      
              </h6>
      
              <p>Entrega: {{ company.waiting_time }} min <span class="ellipse"></span> {{ company.delivery_price | money }}</p>
            
              <p>Pedido mínimo: {{ company.min_order_value | money }}</p>
      
            </ion-label>
      
          </ion-item>
      
        </ion-list>

        <ion-grid>

          <ion-row *ngFor="let item of menu">

            <ion-col size="12">

              <h4>{{ item.name }}</h4>

            </ion-col>

            <ion-col size-sm="12" size-md="6" *ngFor="let product of item.products">

              <ion-card button="true" (click)="modalProduct(product)">

                <ion-item lines="none">

                  <ion-thumbnail slot="start">

                    <img [src]="product.image">

                  </ion-thumbnail>

                  <ion-label class="ion-text-wrap">

                    <h5>{{ product.name }}</h5>

                    <p>{{ product.description }}</p>

                    <h6>{{ product.price - product.rebate | money }} <span *ngIf="product.rebate">{{ product.rebate |
                        money }}</span></h6>

                  </ion-label>

                </ion-item>

              </ion-card>

            </ion-col>

          </ion-row>

        </ion-grid>

      </ion-col>

      <ion-col class="ion-no-padding order" size="4">

        <app-current-order [company]="company" [products]="products"></app-current-order>

      </ion-col>

    </ion-row>

  </ion-grid>

</ion-content>