<ion-header mode="ios">

  <ion-toolbar>

    <ion-button class="btn-location" mode="ios" fill="clear" (click)="location()">

      <ion-icon slot="start" name="location-sharp" color="danger"></ion-icon>

      <span class="location ion-padding-vertical">{{ address }}</span>

      <ion-icon slot="end" name="chevron-down-outline" color="medium"></ion-icon>

    </ion-button>

  </ion-toolbar>

</ion-header>

<ion-content>

  <ion-refresher mode="md" slot="fixed" (ionRefresh)="refresh($event)">

    <ion-refresher-content></ion-refresher-content>

  </ion-refresher>

  <ion-grid mode="ios">

    <ion-row>

      <ion-col size="12" *ngFor="let c of categories">

        <ion-card class="card-primary animated fadeInUp" button="true" (click)="select(c.id)">

          <ion-card-content>

            <ion-thumbnail>

              <img [src]="'../../../assets/icon/' + c.icon">

            </ion-thumbnail>

            <h6>{{ c.name }}</h6>

          </ion-card-content>

        </ion-card>

      </ion-col>

    </ion-row>

  </ion-grid>

</ion-content>