ion-content {
    ion-slides.categories {
        padding: 8px;

        ion-slide {
            padding: 8px;
            display: block;
            cursor: pointer;

            ion-thumbnail {
                --size: 100%;
                transition: transform 0.3s;

                &:hover {
                    transform: scale(1.07);
                }
            }

            h6 {
                font-size: 0.9rem;
                line-height: 1rem;
                margin: 2px 0 0;
            }
        }
    }

    ion-list {
        h5 {
            font-size: 1.225rem;
            font-weight: 500;
            margin: 8px 0 0;
            padding: 10px 20px;
        }
    }

    ion-slides.companies {
        padding: 16px;

        ion-slide {
            app-card-company {
                width: 100%;
            }
        }
    }
}

@media (min-width: 576px) {
    ion-content {
        ion-list {
            h5 {
                font-size: 1.375rem;
            }
        }
    }
}