<ion-header mode="ios">

  <ion-toolbar mode="md">

    <ion-segment value="1" (ionChange)="segmentChanged($event)">

      <ion-segment-button value="1">

        <ion-label>Entrega</ion-label>

      </ion-segment-button>

      <ion-segment-button value="2">

        <ion-label>Retirada</ion-label>

      </ion-segment-button>

    </ion-segment>

    <ion-buttons slot="end">

      <ion-button>

        <ion-icon slot="icon-only" src="../../../assets/icon/vouchers.svg"></ion-icon>

      </ion-button>

    </ion-buttons>

  </ion-toolbar>

</ion-header>

<ion-header class="ion-no-margin ion-no-border" mode="ios">

  <ion-toolbar>

    <ion-buttons slot="start">

      <ion-button class="location" color="dark" (click)="location()">

        <ion-icon slot="start" name="location-sharp" color="danger"></ion-icon>
    
        <span class="location ion-padding-vertical">{{ address }}</span>
    
        <ion-icon slot="end" name="chevron-down-outline" color="medium"></ion-icon>
    
      </ion-button>

    </ion-buttons>

  </ion-toolbar>

</ion-header>

<ion-content mode="ios">

  <ion-refresher mode="md" slot="fixed" (ionRefresh)="refresh($event)">

    <ion-refresher-content></ion-refresher-content>

  </ion-refresher>

  <ion-searchbar placeholder="O que você quer hoje?" readonly="true"></ion-searchbar>

  <ion-list class="ion-margin-top categories" mode="ios">

    <div class="scrolling">

      <div class="category animated bounceInRight" *ngFor="let c of categories">

        <ion-card color="primary" button="true" (click)="select(c.id)">

          <img [src]="'../../../assets/icon/' + c.icon">

        </ion-card>

        <h6>{{ c.name }}</h6>

      </div>

    </div>

  </ion-list>

  <ion-list class="ion-margin-top slides" mode="ios">

    <div class="scrolling">

      <div class="slide animated bounceInRight" *ngFor="let c of categories">

        <ion-card color="primary" button="true" (click)="select(c.id)">

          <img [src]="'../../../assets/icon/' + c.icon">

        </ion-card>

      </div>

    </div>

  </ion-list>

</ion-content>