ion-content {
    ion-slides {
        height: 100%;

        ion-slide {
            h6 {
                margin: 0 auto;
                font-size: 1.125rem;
                max-width: 200px;
            }

            p {
                color: var(--ion-color-medium);
                font-size: 1rem;
                margin: 0;
            }

            ion-icon.icon-map {
                margin: 16px auto 10px;
                font-size: 60px;
            }

            ion-button.close {
                position: absolute;
                top: 0;
                right: 0;
                z-index: 999999;
            }

            ion-grid {
                height: 100%;
                z-index: 9999;

                .centered {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    width: calc(100% - 16px);
                }

                .footer {
                    position: absolute;
                    bottom: 8px;
                    width: calc(100% - 16px);
                }
            }

            ion-fab {
                bottom: 78px;
            }

            &.permission {
                p {
                    margin: 10px;
                }
            }

            &.locations {
                ion-card {
                    margin: 0;
                    border: 0.55px solid var(--ion-color-light-shade);
                    box-shadow: none;

                    &.active {
                        border: 0.55px solid var(--ion-color-primary);
                    }

                    &:hover {
                        border: 0.55px solid #fff;
                        box-shadow: var(--ion-color-light-shade) 0px 4px 16px;
                    }

                    ion-item {
                        --inner-padding-end: 0;

                        ion-icon {
                            font-size: 22px;
                        }

                        h6 {
                            font-weight: 500;
                        }

                        p {
                            color: var(--ion-color-medium);
                        }

                        ion-button {
                            width: 50px;
                            height: 100%;
                        }
                    }
                }

            }

            &.location {
                display: block;

                .map {
                    position: absolute;
                    width: 100%;
                    height: calc(100% - 44px);
                }

                ion-button {
                    margin: 0 5px;
                }
            }

            &.address {
                display: block;
                text-align: start;
            }
        }
    }
}

@media (min-width: 768px) {
    ion-content {
        ion-slides {
            ion-slide {
                h6 {
                    max-width: 100%;
                }
            }
        }
    }
}
