<ion-header mode="ios">

  <ion-toolbar>

    <ion-buttons slot="start">

      <ion-back-button text=""></ion-back-button>

    </ion-buttons>

    <ion-title>Editar Dados</ion-title>

  </ion-toolbar>

</ion-header>

<ion-content mode="ios">

  <ion-grid>

    <ion-row>

      <ion-col size="12">

        <ion-label class="label-custom">Nome</ion-label>

        <ion-input class="input-custom"></ion-input>

      </ion-col>

      <ion-col size="12">

        <ion-label class="label-custom">Sobrenome</ion-label>

        <ion-input class="input-custom"></ion-input>

      </ion-col>

      <ion-col size="12">

        <ion-label class="label-custom">CPF</ion-label>

        <ion-input class="input-custom"></ion-input>

      </ion-col>

      <ion-col size="12">

        <ion-label class="label-custom">Telefone</ion-label>

        <ion-input class="input-custom"></ion-input>

      </ion-col>

      <ion-col size="12">

        <ion-label class="label-custom">E-mail</ion-label>

        <ion-input class="input-custom"></ion-input>

      </ion-col>

      <ion-col size="12" class="ion-margin-top">

        <ion-button expand="block">

          Salvar

        </ion-button>

      </ion-col>

    </ion-row>

  </ion-grid>

</ion-content>