ion-content {
    --background: var(--ion-color-light);

    ion-list {
        ion-item {
            ion-label {
                ion-icon {
                    font-size: 7pt;
                }
            }

            ion-icon[slot="end"] {
                color: var(--ion-color-primary);
                font-size: 16pt;
            }
        }

        ion-item:last-child {
            --border-width: 0;
        }
    }
}