<ion-header class="ion-no-border" mode="ios">

  <ion-toolbar>

    <ion-buttons slot="start">

      <ion-back-button text=""></ion-back-button>

    </ion-buttons>

    <ion-title>Segurança</ion-title>

  </ion-toolbar>

</ion-header>

<ion-content mode="ios">

  <ion-list class="ion-margin-top">

    <ion-item lines="none" button="true" detail="false">

      <ion-label>

        <h6>Alterar senha</h6>

        <p>

          <ion-icon name="ellipse"></ion-icon>

          <ion-icon name="ellipse"></ion-icon>

          <ion-icon name="ellipse"></ion-icon>

          <ion-icon name="ellipse"></ion-icon>

          <ion-icon name="ellipse"></ion-icon>

          <ion-icon name="ellipse"></ion-icon>

          <ion-icon name="ellipse"></ion-icon>

          <ion-icon name="ellipse"></ion-icon>

        </p>

      </ion-label>

      <ion-icon slot="end" name="create-outline"></ion-icon>

    </ion-item>

  </ion-list>

  <ion-list class="ion-margin-top">

    <ion-item lines="full">

      <ion-label class="ion-text-center">

        Dispositivos conectados

      </ion-label>

    </ion-item>

    <ion-item lines="full" button="true" detail="false">

      <ion-icon slot="start" name="phone-portrait-outline"></ion-icon>

      <ion-label>

        <h6>Xiaomi Redmi Note 7</h6>

        <p>Porangatu, Goiás</p>

      </ion-label>

      <ion-icon slot="end" name="trash-outline"></ion-icon>

    </ion-item>

  </ion-list>

</ion-content>