<ion-header>

  <ion-toolbar>

    <ion-title>Método de pagamento</ion-title>

    <ion-buttons slot="end">

      <ion-button fill="clear" (click)="dismiss()">

        <ion-icon slot="icon-only" name="close"></ion-icon>

      </ion-button>

    </ion-buttons>

  </ion-toolbar>

  <ion-toolbar mode="md">

    <ion-segment [(ngModel)]="segment" scrollable (ionChange)="segmentChanged($event)">

      <ion-segment-button value="0">

        <ion-label>Pague online</ion-label>

      </ion-segment-button>

      <ion-segment-button value="1">

        <ion-label>Pague na entrega</ion-label>

      </ion-segment-button>

    </ion-segment>

  </ion-toolbar>

</ion-header>

<ion-content customScroll>

  <ion-slides class="swiper-no-swiping" [options]="options">

    <ion-slide>

      <ion-list>

        <ion-item lines="full" button="true" detail="true" (click)="modalCard()">

          <ion-label class="ion-text-wrap">

            <h6>Adicione um cartão</h6>

            <p>É prático, seguro e você não perde nenhum minuto a mais quando seu pedido chegar.</p>

          </ion-label>

        </ion-item>

        <ion-item lines="full" color="light" *ngIf="cards?.length > 0">

          <ion-label class="ion-text-wrap">

            <h6>Cartões cadastrados</h6>

            <p>Escolha um cartão para o pagamento.</p>

          </ion-label>

        </ion-item>

        <ion-radio-group [allowEmptySelection]="true" [value]="selectedCard" (ionChange)="changeCard($event)">

          <ion-item lines="full" *ngFor="let card of cards">

            <img slot="start" [src]="card.icon">

            <ion-label class="ion-text-wrap">
              
              <h6>{{ card.number | slice:0:4 }} {{ card.number | slice:4:8 }} {{ card.number | slice:8:12 }} {{ card.number | slice:12 }}</h6>

              <p>{{ card.holder_name }}</p>
            
            </ion-label>

            <ion-radio slot="end" [value]="card" mode="md"></ion-radio>

          </ion-item>

        </ion-radio-group>

      </ion-list>

    </ion-slide>

    <ion-slide>

      <ion-list>

        <ion-radio-group [allowEmptySelection]="true" [value]="selectedPaymentMethod" (ionChange)="changePaymentMethod($event)">

          <ion-item lines="full" *ngFor="let paymentMethod of order.company.payment_methods">

            <img slot="start" [src]="paymentMethod.icon">

            <ion-label class="ion-text-wrap">{{ paymentMethod.name }}</ion-label>

            <ion-radio slot="end" mode="md" [value]="paymentMethod"></ion-radio>

          </ion-item>

        </ion-radio-group>

      </ion-list>

    </ion-slide>

  </ion-slides>

</ion-content>

<ion-footer class="ion-padding" *ngIf="(segment == 0 && cards?.length > 0) || segment == 1">

  <ion-button expand="block" (click)="confirmPaymentMethod()" [disabled]="selectedCard == undefined" *ngIf="segment == 0">Confirmar</ion-button>

  <ion-button expand="block" (click)="confirmPaymentMethod()" [disabled]="selectedPaymentMethod == undefined" *ngIf="segment == 1">Confirmar</ion-button>

</ion-footer>

<ngx-loading [show]="loading"></ngx-loading>